<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.pub.cs.systems.eim.Colocviu1_1">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">

        <!-- Activitatea principală -->
        <activity android:name=".Colocviul1_1_MainActivity"
            android:exported="true"> <!-- Asigură-te că android:exported este setat la "true" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activitatea secundară -->
        <activity android:name=".SecondaryActivity"
            android:exported="false" /> <!-- Setează la "false" deoarece nu are intent-filter -->

    </application>

</manifest>
